<ng-container>
    <div class="spacer">
        <mat-label style="font-weight: 500;">Search Type</mat-label>
    </div>
    
    <div>
        <mat-button-toggle-group [(ngModel)]="query" name="queryType">
            <mat-button-toggle *ngFor="let queryConfig of queryTypeConfigs" [value]="queryConfig">
                {{queryConfig.displayText}}
            </mat-button-toggle>
        </mat-button-toggle-group>
    </div>
    
    <div class="spacer">
        <mat-form-field class="example-full-width">
            <mat-label>Query</mat-label>
            <input matInput [(ngModel)]="query.query" placeholder="Ex. Alcohol">
        </mat-form-field>
    </div>
    <mat-toolbar class="center">
        <ng-container *ngIf="query.query">
            <button (click)="submit()" mat-raised-button color="primary">
                {{query.displayText}}
            </button>
        </ng-container>
    </mat-toolbar>
</ng-container>

<app-ingredient [ingredient]="ingredient"></app-ingredient>
<router-outlet></router-outlet>